body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #8bc0e9;
    color: rgb(6, 6, 54);
    text-align: center;
    padding: 1em 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
}

.content {
    flex: 3;
    min-width: 250px;
    margin-right: 1em;
}
.sidebar {
    flex: 1;
    min-width: 150px;
    background-color: #c286865e;
    padding: 1em;
}
.sidebar img.sidebar-img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 1em;
}

.sidebar h3 {
    margin-top: 0;
    font-size: 1.2em;
}
.responsive-img {
    width: 100%;
    height: auto;
    margin-top: 1em;
    border-radius: 8px; /* optional for rounded edges */
}
@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .content, .sidebar {
        margin-right: 0;
    }
}

@media (max-width: 480px) {
    header, footer {
        font-size: 0.9em;
        padding: 0.5em 0;
    }

    .content, .sidebar {
        padding: 0.5em;
    }
}