body {
  font-family: Arial, sans-serif;
  background: #f5b9ef;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: rgb(225, 182, 227);
  padding: 20px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(228, 132, 132);
}

h1 {
  text-align: center;
}

.input-section {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 8px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  padding: 10px;
  background: #eee;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.completed {
  text-decoration: line-through;
  color: rgb(41, 212, 32);
}